* {
    background-color: #c7c6c6;
    margin: 0;
}


/* ####### HEADER ####### */
header {
    height: auto;
    width: 100%;

    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}

header h1 {
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 3px solid #DB7093;
    color: white;
    font-size: 35px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50%;
}


/* ###### CALCULADORA ####### */
main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 80vh;
}

#calculadora {
    border: 2px solid black;
    border-radius: 2%;
    width: 17%;
    height: auto;
    padding: 25px;
    background-color: rgb(242, 230, 209);
}

.pantalla {
    width: 98%;
    min-height: 10vh;
    background-color: rgb(151, 143, 143);
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}

.num-pantalla {
    font-family: monospace;
    font-size: 30px;
    color: white;
    max-width: 90%;
    margin: 0px 5px 0px 10px;
    height: auto;

    /*Con esta propiedad se consigue que el contenido del parráfo no se salga del div y no haya desbordamiento*/
    overflow-wrap: break-word;  
}

.num-pantalla p {
    background-color: rgb(151, 143, 143);
}

.botones-1 {
    width: 99.5%;
    height: 6vh;
    margin-top: 10px;
    background-color: rgb(242, 230, 209);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.boton{
    border: 1px solid black;
    border-radius: 10%;
    font-size: 30px;
    font-family: monospace;
    padding-bottom: 3px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 230, 230);
}

.boton:hover {
    cursor: pointer;
    box-shadow: inset 0 0 2px 2px rgb(103, 97, 97);
}

.parte-inferior {
    width: 99.5%;
    height: 22vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(242, 230, 209);
}

.numeros {
    display: block;
    float: left;
    width: 73%;
    background-color: rgb(242, 230, 209);
}

.numeros :first-child {
    margin-top: 0px;
}

.botones-2 {
    width: 102.7%;
    height: 6vh;
    margin-top: 7px;
    background-color: rgb(242, 230, 209);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.resolver {
    width: 22%;
    height: 90%;
    display: block;
    float: right;
    background-color: rgb(241, 223, 190);
}

.resolver .boton {
    height: 99%;
    width: 100%;
    border-radius: 7%;
}